{% extends 'breed_finder/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset Password - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 col-12 px-3">
        <div class="card my-4">
            <div class="card-header">
                <h2 class="text-center mb-0">Reset Password</h2>
            </div>
            <div class="card-body">
                <p>Enter your email address below, and we'll email instructions for setting a new password.</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Send Password Reset Email</button>
                    </div>
                </form>
                <hr>
                <p class="text-center"><a href="{% url 'breed_finder:login' %}">Back to Login</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}